body{
    background-color:#202329 ;
}
.main{
    width: 100%;
    height: 100%;
    background-color: #1f2530;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media  screen and (min-width: 1000px) {
    .main{
        margin: auto;
        width: 82%;
        height: 100%;
    }
}
.nav_container{
    display: flex;
    width: 100%;
}
.nav_left{
    display: flex;
    width: 40%;
    font-family: Fira Code;
    color: white;
    align-items: flex-start;
    cursor: pointer;
}
nav{
    margin-bottom: 2em;
}
.nav_right{
    display: flex;
    width: 60%;
}
.nav_right ul{
    display: flex;
    width: 100%;
    margin-right: 5%;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
    justify-content: end;
    align-items:flex-end;
}
.nav_right li{
    margin: auto;
    color: whitesmoke;
    font-family: Fira Code;
    font-size: 20px;
    cursor: pointer;
}
.nav_right li:after {
    display: block;
    content: '';
    border-bottom: solid 3px #00ff22;
    padding-bottom: 1%;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}
li:hover:after{
    transform: scaleX(1);
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 360px;
    min-width: 360px ;
    font-family: Fira Code;
    color: #cdcfd4;
    font-size: smaller;
    margin: 1px;
    font-weight: 100;
}
.card_skill h3{
    font-size: small;
    font-weight: 200;
}
.card img{
   border: 1px solid rgb(122, 117, 117);
}
.card_des{
    
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
}
.card_des h3{
    font-size: small;
    font-weight: 200;
    padding-bottom: 0.5em;
}
.card{
    border: 1px solid rgb(122, 117, 117);
    margin: 0.5px;
}
.card_skill{
    padding-left: 1em;
    border: 1px solid rgb(122, 117, 117) ;
}
.card button{
    color: white;
    background-color: #282c33;
    border: 2px solid #00ff22;
    padding: 1em 3em;
}
.container-1{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: space-evenly;
}
header h1,p{
    font-family: Fira Code;
    color: white;
}
#mainh2{
    color: white;
    font-family: Fira Code;
}
.footer{
    display: flex;
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}
.f2{
    padding-left: 16px;
    padding-top: 1em;
}
.f1{
  color: #b3a9a9;
  font-family: Fira Code;
  width: 65%;
}
.f1 h3{
    color: white;
}
footer{
    border: 2px solid gray;
}
a{
    color: inherit;
    text-decoration: inherit;
}
